# SBT
target/

# Compiled class file
*.class

# IntelliJ
/.idea
*.iml

# Eclipse
.settings
.classpath
.project

# MacOS
.DS_Store

# jEnv
.java-version

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
