<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>%level - %msg%n</pattern>
        </encoder>

    </appender>

    <!--
    adjust the driver's log verbosity; see
    https://docs.datastax.com/en/developer/java-driver/
    for more information
    -->
    <logger name="com.datastax.driver.core" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
